.cardWrapper{
    display: flex;
    min-height: 120px;
    flex-direction: column;
    background-color: rgb(56, 80, 89);
    margin: 0 auto;
    border-radius: 10px; /* Set the border radius to 10 pixels */
}

.cardHeaderWrapper{
    display: flex;
    flex-direction: row;
    min-height: 30px;
    background-color: #7e1ea2;
}
.cardOverviewWrapper{
    display: flex;
    flex-direction: row;
    min-height: 43px;
    background-color: #b76bd5;
}
.cardFooterWrapper{
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
