/* ВСЁ ДЕЛАТЬ В FLEXBOXах!  https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 https://angrytools.com/css-flex/ - FLEX TUTORIAL
 https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout - GRID TUTORIAL
 https://yandex-practicum.github.io/react-developer-burger-ui-components/docs/tab - ЯНДЕКС КОМПОНЕНТЫ
 https://www.flaticon.com/ - ИКОНКИ
 https://medium.com/@mautayro/understanding-css-position-display-float-87f9727334b2 - POSITION DISPLAY ETC
 Размеры разных компонентов относительно друг друга можно изменять используя flexGrow: x. CМ src/components/AppHeader/header.js:9  */
/* This style targets elements with the class "header"*/
.header {
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.flexRowCenter{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.orderArray{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.constructor{
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 4;
}


.office {
    flex-grow: 5;
    display: flex;
    justify-content: left;
}

.marginLeft10TextDecorationNone {
    margin-left: 10px;
    text-decoration: none;
}

.activatedLink{
    color: white;
}
.deactivatedLink{
    color: aqua;
}

.marginLeft70{
    margin-left: 70px;
}

.textDecorationNone{
    text-decoration: none;
}/*
 ЭТО СТАРЫЙ ВАРИАНТ БЕЗ FLEXBOX
.logo {
    !* Это размеры картинки. Они принимаются во внимание, когда калькулируется center в parent компоненте*!
    width: 290px;
    height: 50px;
}

.feed {
    position: absolute; !* positions it relative to the nearest positioned ancestor element, in this case the .header *!
    left: calc(50% - 600px); !* отступаем от центра на 300 px, т.к знаем, что в центре сидит logo размером 290 (т.е. левый бок вылезает на 145px)*!
    width: 160px;
    height: 50px;
    display: flex; !* it becomes a flex container *!
    justify-content: space-between; !*Для всех child components они будут расположены равномерно по ширине по оси x *!
    align-items: center; !*Для всех child components выравнивание вдоль оси Y будет по центру *!
}

.constructor {
    position: absolute;
    left: calc(50% - 800px); !* отступаем от центра на 560px, т.к знаем, что в центре сидит logo размером 290 (т.е. левый бок вылезает на 145px) и справа feed занимает 160px + 100px отступа *!
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.office {
    position: absolute;
    right: 100px;
}
*/
