.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 536px;
    margin-top: 60px;
}

.gridWrapper{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}
.dragIconStyle{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.bottomButtonContainer{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.currencyContainer{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.marginRight10{
    margin-right: 10px;
}
.scroll{
    min-height: 200px;
    height: 100%;
    width: 100%;
    overflow: auto;
}
.border{
  border: 1px dashed lightblue;
}
.fullWidthHeight{
    width: 100%;
    height: 100%;
}
